@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #205295, #c85c8e);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: #fff;
}

.logo {
  width: 12rem;
  /* height: 6rem; */
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.company {
  position: absolute;
  top: 6.8rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subCompany {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.title h1 {
  font-size: 180px;
  font-weight: 900;
  margin-top: 5rem;
}
.title h2 {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
}

.listCount {
  display: flex;
  list-style: none;
}

.item {
  width: 10rem;
  height: 10rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px 20px 0 0;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  position: relative;
  font-family: "Balsamiq Sans", cursive;
}

.item::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  width: 100%;
  height: 3rem;
  background: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #205295;
  border-radius: 0 0 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

#week::after {
  content: "TUẦN";
}
#days::after {
  content: "NGÀY";
}
#hours::after {
  content: "GIỜ";
}
#minutes::after {
  content: "PHÚT";
}
#seconds::after {
  content: "GIÂY";
}

.audio {
  display: none;
}

.iconPlay {
  position: absolute;
  width: 4rem;
  right: 50%;
  transform: translateX(50%);
  bottom: 2rem;
  cursor: pointer;
}

.iconNext {
  position: absolute;
  width: 3rem;
  right: 1rem;
  bottom: 1.5rem;
  cursor: pointer;
}

.dash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

.next {
  position: absolute;
  width: 3rem;
  right: 1rem;
  top: 45%;
  cursor: pointer;
  z-index: 3;
  display: none;
}

.displayBlock {
  display: block;
} 

.displayNone {
  display: none;
}

/* .modalImg {
  background: url('../img/dashboard.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
} */

@keyframes confetti-slow {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  
  100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
}

@keyframes confetti-medium {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  
  100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
}

@keyframes confetti-fast {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  
  100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;

}

.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}

.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}